
<form [formGroup]="loginForm" (submit)="login()" autocomplete="new-password">
  <h1>UltraVision</h1>
  <div class="form-control">
    <label for="email">Email</label>
    <input formControlName="email" id="email" autocomplete="new-password" type="email" />
  </div>

  <div class="form-control">
    <label for="password">Contraseña</label>
    <input formControlName="password" id="password" autocomplete="new-password" type="password" />
  </div>

  <button type="submit">Iniciar Sesion &#8594;</button>
</form>

