<div class="card">
  <h3 class="card-header">Micas Monofocales/Vision Sencilla</h3>
  <mat-tab-group (selectedTabChange)="onTabClick($event)">
    <mat-tab label="Micas Monofocales/Vision Sencilla"></mat-tab>
    <mat-tab label="Micas Progresivos"></mat-tab>
    <mat-tab label="Micas Bifocales"></mat-tab>
    <mat-tab label="Lentes de Contacto"></mat-tab>
    <mat-tab label="Tratamientos y Servicios"></mat-tab>
  </mat-tab-group>
  <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="busquedaTexto">
  <div class="card-body">
    <table class="table">
      <thead>
        <!--<th scope="col" class="">&emsp;</th>-->
        @switch(TipoMicaList){
        @case (TipoMica.LenteDeContacto){
        <tr>
          <th colspan="2" scope="col" class="">
            <button class="boton-agregar" (click)="onAgregar()">
              Agregar <i class="fa-solid fa-plus"></i>
            </button>
          </th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio</th>
        </tr>
        }
        @case (TipoMica.Monofocal){
        <tr>
          <th colspan="2" scope="col" class="">
            <button class="boton-agregar" (click)="onAgregar()">
              Agregar <i class="fa-solid fa-plus"></i>
            </button>
          </th>
          <th scope="col">Material</th>
          <th scope="col">Modelo</th>
          <th scope="col">Categoria</th>
          <th scope="col">Precio</th>
        </tr>
        }
        @case (TipoMica.Progresivo){
        <tr>
          <th colspan="2" scope="col" class="">
            <button class="boton-agregar" (click)="onAgregar()">
              Agregar <i class="fa-solid fa-plus"></i>
            </button>
          </th>
          <th scope="col">Material</th>
          <th scope="col">Autograph Intelligence 2</th>
          <th scope="col">Autograph IID</th>
          <th scope="col">Intouch UX</th>
          <th scope="col">HD Experience</th>
        </tr>
        }
        @case (TipoMica.Bifocal){
        <tr>
          <th colspan="2" scope="col" class="">
            <button class="boton-agregar" (click)="onAgregar()">
              Agregar <i class="fa-solid fa-plus"></i>
            </button>
          </th>
          <th scope="col">Marca</th>
          <th scope="col">Precio Duo Digital</th>
          <th scope="col">Precio Flat top 28</th>
        </tr>
        }
        @case (TipoMica.Tratamiento){
        <tr>
          <th colspan="2" scope="col" class="">
            <button class="boton-agregar" (click)="onAgregar()">
              Agregar <i class="fa-solid fa-plus"></i>
            </button>
          </th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio</th>
        </tr>
        }
        }
      </thead>
      @switch(estado){
      @case (Estatus.Procesado){
      <tbody>

        @switch(TipoMicaList){
        @case (TipoMica.LenteDeContacto){
        @for(mica of lenteDeContactoList | busqueda: busquedaTexto; track mica.id ){
        <tr>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEliminar(mica)"><i class="fa fa-trash"></i></button>
          </td>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEditar(mica)"><i class="fa fa-pen-to-square"></i></button>
          </td>
          <td style="vertical-align: middle;">
            {{mica.descripcion}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.costo}}
          </td>
        </tr>
        }
        }
        @case (TipoMica.Monofocal){
        @for(mica of monofocalList | busqueda: busquedaTexto; track mica.id ){
        <tr>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEliminar(mica)"><i class="fa fa-trash"></i></button>
          </td>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEditar(mica)"><i class="fa fa-pen-to-square"></i></button>
          </td>
          <td style="vertical-align: middle;">
            {{mica.material}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.modelo}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.categoria}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.precio}}
          </td>
        </tr>
        }
        }
        @case (TipoMica.Progresivo){
        @for(mica of progresivoList | busqueda: busquedaTexto; track mica.id ){
        <tr>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEliminar(mica)"><i class="fa fa-trash"></i></button>
          </td>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEditar(mica)"><i class="fa fa-pen-to-square"></i></button>
          </td>
          <td style="vertical-align: middle;">
            {{mica.material}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.autographIntelligenge2}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.autographIID}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.intouchUX}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.hdExperience}}
          </td>
        </tr>
        }
        }
        @case (TipoMica.Bifocal){
        @for(mica of bifocalList | busqueda: busquedaTexto; track mica.id ){
        <tr>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEliminar(mica)"><i class="fa fa-trash"></i></button>
          </td>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEditar(mica)"><i class="fa fa-pen-to-square"></i></button>
          </td>
          <td style="vertical-align: middle;">
            {{mica.marca}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.precioDuoDigital}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.precioFlatTop28}}
          </td>
        </tr>
        }
        }
        @case (TipoMica.Tratamiento){
        @for(tratamiento of tratamientoList | busqueda: busquedaTexto; track tratamiento.id ){
        <tr>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEliminar(tratamiento)"><i class="fa fa-trash"></i></button>
          </td>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEditar(tratamiento)"><i class="fa fa-pen-to-square"></i></button>
          </td>
          <td style="vertical-align: middle;">
            {{tratamiento.descripcion}}
          </td>
          <td style="vertical-align: middle;">
            {{tratamiento.precio}}
          </td>
        </tr>
        }
        }
        }
      </tbody>
      }
      @case (Estatus.Cargando){
      <ng-container [ngTemplateOutlet]="footMessage"
                    [ngTemplateOutletContext]="{message: LOADING_MESSAGE}">
      </ng-container>
      }
      @case (Estatus.Vacio) {
      <ng-container [ngTemplateOutlet]="footMessage"
                    [ngTemplateOutletContext]="{message: ZERO_RESULTS}">
      </ng-container>
      }
      @default {
      <ng-container [ngTemplateOutlet]="footMessage"
                    [ngTemplateOutletContext]="{
          message: ERROR_MESSAGE,
          class: 'bg-danger-subtle text-danger-emphasis'
        }">
      </ng-container>
      }
      }
    </table>
  </div>
</div>

<ng-template #footMessage let-message="message" let-cssClass="class ?? ''">
  <tfoot>
    <tr>
      <td colspan="9" class="{{cssClass}}">
        {{message}}
      </td>
    </tr>
  </tfoot>
</ng-template>
