################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Consultorio/FileContentIndex/c763b058-19d6-480f-86cb-922d594b5b3b.vsidx
/.vs/Consultorio/FileContentIndex/524c6169-6074-4d0d-9b38-13cf39ff8598.vsidx
