<div class="card">
  <h3 class="card-header">{{titulo}}</h3>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="busquedaTexto">
    <select class="form-control" [(ngModel)]="selectedTipo" (change)="fetchLista(selectedTipo)">
      <option value="ALL">Todas las micas</option>
      <option value="MON">Monofocal/Vision Sencilla</option>
      <option value="BIF">Bifocal</option>
      <option value="PRO">Progresivo</option>
    </select>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <!--<th scope="col" class="">&emsp;</th>-->
        <tr>
          <th colspan="2" scope="col" class="">
            <button class="boton-agregar" (click)="onAgregar()">
              Agregar <i class="fa-solid fa-plus"></i>
            </button>
          </th>
          <th scope="col">Marca</th>
          <th scope="col">Material - Tratamiento</th>
          <th scope="col">Detalles</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      @switch(estado){
      @case (Estatus.Procesado){
      <tbody>
        @for(mica of micaList | busqueda: busquedaTexto; track mica.id ){
        <tr>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEliminar(mica)"><i class="fa fa-trash"></i></button>
          </td>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEditar(mica)"><i class="fa fa-pen-to-square"></i></button>
          </td>
          <td style="vertical-align: middle;">
            {{mica.marca}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.materialTratamiento}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.resumen}}
          </td>
          <td style="vertical-align: middle;">
            {{mica.precio}}
          </td>
        </tr>
        }
      </tbody>
      }
      @case (Estatus.Cargando){
      <ng-container [ngTemplateOutlet]="footMessage"
                    [ngTemplateOutletContext]="{message: LOADING_MESSAGE}">
      </ng-container>
      }
      @case (Estatus.Vacio) {
      <ng-container [ngTemplateOutlet]="footMessage"
                    [ngTemplateOutletContext]="{message: ZERO_RESULTS}">
      </ng-container>
      }
      @default {
      <ng-container [ngTemplateOutlet]="footMessage"
                    [ngTemplateOutletContext]="{
          message: ERROR_MESSAGE,
          class: 'bg-danger-subtle text-danger-emphasis'
        }">
      </ng-container>
      }
      }
    </table>
  </div>
</div>

<ng-template #footMessage let-message="message" let-cssClass="class ?? ''">
  <tfoot>
    <tr>
      <td colspan="9" class="{{cssClass}}">
        {{message}}
      </td>
    </tr>
  </tfoot>
</ng-template>
