<div>
  @if (isEdit){
  <h2 class="card-header">{{titulo_editar}}</h2>
  }
  @else{
  <h2 class="card-header">{{titulo_agregar}}</h2>
  }
  <button type="button" routerLink="/layout/cotizacion">Regresar</button>
</div>
<div ng-app>
  <form #userForm="ngForm" (ngSubmit)="onGuardar(userForm)">
    <table style="width:100%">
      <tr>
        <td>
          @if (isEdit){
          <button type="submit">{{titulo_editar}}</button>
          }
          @else{
          <button type="submit">{{titulo_agregar}}</button>
          }
        </td>
      </tr>
      <tr>
        <td>
          Folio
          <div class="input-group mb-3">
            <input class="form-control" id="folio" name="folio" #folio="ngModel" [(ngModel)]="cotizacion.folio" readonly />
          </div>
        </td>
        <td>
          Creador 
          <div class="input-group mb-3">
            <input class="form-control" id="nombreUsuario" name="nombreUsuario" #nombreUsuario="ngModel" [(ngModel)]="cotizacion.nombreUsuario" readonly/>
          </div>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td style="width:50%">
          Paciente
          <div class="input-group mb-3">
            <input class="form-control" id="paciente" name="paciente" #paciente="ngModel" [(ngModel)]="cotizacion.paciente" />
          </div>
        </td>
        <td style="width:50%">
          Estatus
          <div class="input-group mb-3">
            <select class="form-select" id="statusid" name="statusid" #statusid="ngModel" [(ngModel)]="cotizacion.statusid">
              <option value="2">Cotización</option>
              <option value="1">Venta</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Fecha de creación
          <input type="date" class="form-control" id="fecha_de_creacion" name="fecha_de_creacion" #fecha_de_creacion="ngModel" [(ngModel)]="cotizacion.fecha_de_creacion" readonly />
        </td>
        <td>
          Anticipo
          <input type="number" class="form-control" id="anticipo" name="anticipo" #anticipo="ngModel" [(ngModel)]="cotizacion.anticipo" />
        </td>
      </tr>
      <tr>
        <td colspan="2">  
          <app-armazon-list #armazonList [CotId]="cotizacion.cotizacionid" [EstatusLista]="EstatusList.Cotizacion" (precioActualizado)="onPrecioCambio()" ></app-armazon-list>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <app-accesorio-list></app-accesorio-list>
        </td>
      </tr>
    </table>
  </form>
</div>
