<div ng-app>
  <form #userForm="ngForm">
    <table style="width:100%">
      <tr>
        <td colspan="2">
          Folio
          <div class="input-group mb-3">
            <input class="form-control" id="folio" name="folio" #folio="ngModel" [(ngModel)]="cotizacion.folio" disabled />
          </div>
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td style="width:50%">
          Paciente
          <div class="input-group mb-3">
            <input class="form-control" id="paciente" name="paciente" #paciente="ngModel" [(ngModel)]="cotizacion.paciente"/>
          </div>
        </td>
        <td style="width:50%">
          Tipo
          <div class="input-group mb-3">
            <select class="form-control" id="tipo" name="tipo" #tipo="ngModel" [(ngModel)]="cotizacion.tipo">
              <option value="cotizacion">Cotización</option>
              <option value="venta">Venta</option>
            </select>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
