<div class="card">
  <h3 class="card-header">Armazones</h3>
  <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="busquedaTexto">
  <div class="card-body">
    <table class="table">
      <thead>


        <!--<th scope="col" class="">&emsp;</th>-->
        @switch(EstatusLista){
        @case (EstatusList.Cotizacion){
        <tr>
          <th scope="col" class="">
            <button type="button" class="boton-agregar" (click)="onAbrirArmazones()">
              Agregar <i class="fa-solid fa-plus"></i>
            </button>
          </th>
          <th scope="col">Cantidad</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Color</th>
          <th scope="col">Tipo de Lente</th>
          <th scope="col">Material</th>
          <th scope="col">Precio</th>
        </tr>
        }
        @case (EstatusList.Catalogo){
        <tr>
          <th colspan="2" scope="col" class="">
            <button class="boton-agregar" (click)="onAgregar()">
              Agregar <i class="fa-solid fa-plus"></i>
            </button>
          </th>
          <th scope="col">Cantidad disponible</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Color</th>
          <th scope="col">Tipo de Lente</th>
          <th scope="col">Material</th>
          <th scope="col">Precio</th>
        </tr>
        }
        @case (EstatusList.BusquedaCotizacion){
        <tr>
          <th colspan="2" scope="col" class="">&emsp;</th>
          <th scope="col">Cantidad disponible</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Color</th>
          <th scope="col">Tipo de Lente</th>
          <th scope="col">Material</th>
          <th scope="col">Precio</th>
        </tr>
        }
        }
      </thead>
      @switch(estado){
      @case (Estatus.Procesado){
      <tbody>

        @switch(EstatusLista){
        @case (EstatusList.Cotizacion){
        @for(armazon of armazonCotizacionList | busqueda: busquedaTexto; track armazon.id ){
        <tr>
          <td style="vertical-align: middle;">
            <button type="button" class="boton-agregar" (click)="onEliminarDeCotizacion(armazon.id)"><i class="fa fa-trash"></i></button>
          </td>
          <td style="vertical-align: middle;">
            {{armazon.cantidad}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.marca}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.modelo}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.color}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.tipo_de_lente}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.material}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.precio}}
          </td>
          }
          }
          @case (EstatusList.Catalogo){
          @for(armazon of armazonList | busqueda: busquedaTexto; track armazon.armazonid ){
        <tr>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEliminar(armazon)"><i class="fa fa-trash"></i></button>
          </td>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onEditar(armazon)"><i class="fa fa-pen-to-square"></i></button>
          </td>
          <td style="vertical-align: middle;">
            {{armazon.cantidad_disponible}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.marca}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.modelo}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.color}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.tipo_de_lente}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.material}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.precio}}
          </td>
        </tr>
        }
        }
        @case (EstatusList.BusquedaCotizacion){
        @for(armazon of armazonList | busqueda: busquedaTexto; track armazon.armazonid ){
        <tr>
          <td style="vertical-align: middle;">
            <input #cantidad type="number" value="1" style="width:65px" min="1" />
          </td>
          <td style="vertical-align: middle;">
            <button class="boton-agregar" (click)="onAgregarACotizacion(armazon.armazonid,cantidad.value)"><i class="fa fa-plus"></i></button>
          </td>
          <td style="vertical-align: middle;">
            {{armazon.cantidad_disponible}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.marca}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.modelo}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.color}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.tipo_de_lente}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.material}}
          </td>
          <td style="vertical-align: middle;">
            {{armazon.precio}}
          </td>
        </tr>
        }
        }
        }
      </tbody>
      }
      @case (Estatus.Cargando){
      <ng-container [ngTemplateOutlet]="footMessage"
                    [ngTemplateOutletContext]="{message: LOADING_MESSAGE}">
      </ng-container>
      }
      @case (Estatus.Vacio) {
      <ng-container [ngTemplateOutlet]="footMessage"
                    [ngTemplateOutletContext]="{message: ZERO_RESULTS}">
      </ng-container>
      }
      @default {
      <ng-container [ngTemplateOutlet]="footMessage"
                    [ngTemplateOutletContext]="{
          message: ERROR_MESSAGE,
          class: 'bg-danger-subtle text-danger-emphasis'
        }">
      </ng-container>
      }
      }
    </table>
  </div>
</div>

<ng-template #footMessage let-message="message" let-cssClass="class ?? ''">
  <tfoot>
    <tr>
      <td colspan="9" class="{{cssClass}}">
        {{message}}
      </td>
    </tr>
  </tfoot>
</ng-template>
