<body>
  <div class="container">
    <div class="image">
      <img class="img" src="assets/logoultra.png" />
    </div>
    <div class="formulario">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-field">
          <input placeholder="Usuario" formControlName="usname" required/>
        </div>

        <div class="form-field">
          <input type="password" placeholder="Contraseña" formControlName="pass"  required/>
        </div>

        <button type="submit">Iniciar Sesion &#8594;</button>
        <button routerLink="/auth/register">Registrarse &#8594;</button>
      </form>
    </div>
  </div>
</body>
