<div class="card" *ngIf="mostrarForm">
  <div class="card-head" style="display:flex; flex-direction:row;">
    @if (isEdit){
    <h3>{{titulo_editar}}</h3>
    }
    @else{
    <h3>{{titulo_agregar}}</h3>
    }
    <button class="button-close" (click)="cerrarForm(addform)"><i class="fa-solid fa-times close-icon"></i></button>
  </div>
  <div class="card-body">
    <form #addform="ngForm" (ngSubmit)="onGuardar(addform)">
      <div class="formulario">
        <select class="form-select form-select-sm" type="text" id="tipoMica" name="tipoMica" tipoMica="ngModel" [(ngModel)]="mica.tipoMica" required>
          <option value="MON">Monofocal/Vision Sencilla</option>
          <option value="BIF">Bifocal</option>
          <option value="PRO">Progresivo</option>
        </select>
        <input class="form-control form-control-sm" type="text" id="marca" name="marca" marca="ngModel" [(ngModel)]="mica.marca" placeholder="Marca" required />
        <input class="form-control form-control-sm" type="text" id="descripcion" name="descripcion" #descripcion="ngModel" [(ngModel)]="mica.descripcion" placeholder="Descripcion" />
        <input class="form-control form-control-sm" type="text" id="materialTratamiento" name="materialTratamiento" materialTratamiento="ngModel" [(ngModel)]="mica.materialTratamiento" placeholder="Material y Tratamiento" required />
        <input class="form-control form-control-sm" type="text" id="esfera" name="esfera" esfera="ngModel" [(ngModel)]="mica.esfera" placeholder="Esfera" />
        <input class="form-control form-control-sm" type="text" id="cilindro" name="cilindro" cilindro="ngModel" [(ngModel)]="mica.cilindro" placeholder="Cilindro" />
        <input class="form-control form-control-sm" type="text" id="adiciones" name="adiciones" adiciones="ngModel" [(ngModel)]="mica.adiciones" placeholder="Adiciones" />
        <input class="form-control form-control-sm" type="number" id="precio" name="precio" #precio="ngModel" [(ngModel)]="mica.precio" placeholder="Precio" required />
        @if (isEdit){
        <button type="submit" class="boton-agregar">Editar</button>
        }
        @else{
        <button type="submit" class="boton-agregar">Agregar</button>
        }
      </div>
    </form>
  </div>
</div>

