form {
  max-width: 400px;
  width: 100%;
}

.form-control input, label {
  display: block;
}


button {
  background-color: #094fa3;
  color: #fff;
  padding: 8px 24px;
  border-radius: 6px;
  width: 100%;
  border: 2px solid #ffff;
  font-size: 1.2rem;
}

.container {
  box-shadow: 0 2px 32px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  max-width: 600px;
  border-radius: 6px;
  justify-content: space-evenly;
  padding: 16px 16px 16px 16px;
}

.formulario, .image {
  flex: 1;
}


.img {
  max-width: 220px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
