<body>
  <div class="container">
    <div class="image">
      <img class="img" src="assets/logoultra.png" />
    </div>
    <div class="formulario">
      <form [formGroup]="loginForm" (ngSubmit)="register()">
        <div class="form-field">
          <input placeholder="Nombre" formControlName="nombre" required />
        </div>
        <div class="form-field">
          <input placeholder="Apellido Paterno" formControlName="aPaterno" required />
        </div>
        <div class="form-field">
          <input placeholder="Apellido Materno" formControlName="aMaterno" required />
        </div>
        <div class="form-field">
          <input placeholder="Telefono" formControlName="telefono" required />
        </div>
        <div class="form-field">
          <input placeholder="Correo" formControlName="correo" required />
        </div>
        <a>Con estos datos iniciaras sesión:</a>
        <div class="form-field">
          <input placeholder="Nombre de usuario" formControlName="usname" required />
        </div>
        <div class="form-field">
          <input type="password" placeholder="Contraseña" formControlName="pass" required />
        </div>

        <button type="submit">Registrarse &#8594;</button>
        <button routerLink="">Regresar &#8592;</button>
      </form>
    </div>
  </div>
</body>
