<h1>Lentes</h1>
<div class="card">
  <div class="card-head">Aqui estara la lista de lentes</div>
    <div class="card-body">
      Informacion sobre los lentes
    </div>
 </div>

<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Metal" #input>
</mat-form-field>

<table mat-table [dataSource]="datasource" class="mat-elevation-z8">

  <ng-container matColumnDef="marca">
    <th mat-header-cell *matHeaderCellDef>Marca</th>
    <td mat-cell *matCellDef="let armazon">{{armazon.marca}}</td>
  </ng-container>

  <ng-container matColumnDef="modelo">
    <th mat-header-cell *matHeaderCellDef>Modelo</th>
    <td mat-cell *matCellDef="let armazon">{{armazon.modelo}}</td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef>Color</th>
    <td mat-cell *matCellDef="let armazon">{{armazon.color}}</td>
  </ng-container>

  <ng-container matColumnDef="tipolente">
    <th mat-header-cell *matHeaderCellDef>Tipo de lente</th>
    <td mat-cell *matCellDef="let armazon">{{armazon.tipolente}}</td>
  </ng-container>

  <ng-container matColumnDef="material">
    <th mat-header-cell *matHeaderCellDef>Material</th>
    <td mat-cell *matCellDef="let armazon">{{armazon.material}}</td>
  </ng-container>

  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let armazon">{{armazon.precio}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="6">Ningún armazon concuerda con la busqueda "{{input.value}}"</td>
  </tr>
</table>
