table {
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  max-height: 100vh;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container{
    position:relative;
    overflow: auto;

}

button {
  border-radius: 4px;
  padding: 16px 16px 16px;
  margin: 10px 10px 10px;
  background-color: #fff;
  border-color: #f3f3f3;
}

.button-container {
  padding-bottom: 16px;
}
