<div style="width:100%;">
  <div style="display:flex; flex-direction:row;">
    <h3>Selecciona armazon y micas</h3>
    <button type="button" class="button-close" (click)="onClose()"><i class="fa-solid fa-times close-icon"></i></button>
  </div>
  <div style="display:flex;">
    <h4>Armazon</h4>
    <input type="text" style="width: 100%;" class="form-control-sm" placeholder="Buscar..." [(ngModel)]="busquedaTexto" (input)="filterArmazones()" />
  </div>
  <div>
    <select #armazonSeleccionado class="form-select-sm" style="width: 100%; text-overflow: ellipsis" id="armazon" [(ngModel)]="articuloCotizacion.armazonid">
      <option value="-1">Sin armazon</option>
      @for (armazon of filteredArmazonList; track armazon.armazonid) {
      <option value="{{armazon.armazonid}}">
        Marca: {{armazon.marca}} - Modelo: {{armazon.modelo}} - Color: {{armazon.color}} - Tipo: {{armazon.tipo_de_lente}} - Material: {{armazon.material}} - Precio: ${{armazon.precio}}
      </option>
      }
    </select>
  </div>
</div>

<h4 style="margin-top:10px">Mica</h4>
<div>
  <label style="margin-right: 10px; font-weight: bold;">Tipo de Mica:</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" value="MON" id="monofocal" name="tipoDeMica" [(ngModel)]="articuloCotizacion.tipoMica" (ngModelChange)="onSelectionChange()">
    <label class="form-check-label" for="monofocal">
      Monofocal
    </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" value="PRO" id="progresivo" name="tipoDeMica" [(ngModel)]="articuloCotizacion.tipoMica" (ngModelChange)="onSelectionChange()">
    <label class="form-check-label" for="progresivo">
      Progresivo
    </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" value="BIF" id="bifocal" name="tipoDeMica" [(ngModel)]="articuloCotizacion.tipoMica" (ngModelChange)="onSelectionChange()">
    <label class="form-check-label" for="bifocal">
      Bifocal
    </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" value="LDC" id="lenteDeContacto" name="tipoDeMica" [(ngModel)]="articuloCotizacion.tipoMica" (ngModelChange)="onSelectionChange()">
    <label class="form-check-label" for="lenteDeContacto">
      Lentes de contacto
    </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" value="SIN" id="sinMica" name="tipoDeMica" [(ngModel)]="articuloCotizacion.tipoMica" (ngModelChange)="onSelectionChange()">
    <label class="form-check-label" for="sinMica">
      Sin mica
    </label>
  </div>
</div>

<div>
  <select class="form-select-sm" style="width: 100%; text-overflow: ellipsis" id="mica" [(ngModel)]="articuloCotizacion.micaid" *ngIf="mostrarMica">
    @for (mica of micaList; track mica.id) {
    <option value="{{mica.id}}">
     Marca: {{mica.marca}} {{mica.materialTratamiento}} {{mica.resumen}} - Precio: ${{mica.precio}}
    </option>
    }
  </select>
  <select class="form-select-sm" style="width: 100%; text-overflow: ellipsis" id="mica" [(ngModel)]="articuloCotizacion.micaid" *ngIf="mostrarLente">
    @for (lente of lenteDeContactoList; track lente.id) {
    <option value="{{lente.id}}">
      Tipo: {{lente.tipo}} - Marca: {{lente.marca}} - Precio: ${{lente.precio}}
    </option>
    }
  </select>
</div>

<div class="popup-actions">
  @if (isEdit){
  <button type="button" class="boton-agregar" (click)="onAdd()">Editar articulo</button>
  }
  @else{
  <button type="button" class="boton-agregar" (click)="onAdd()">Agregar a la cotización</button>
  }
</div>
