:host {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  padding: 1em;
  z-index: 1000;
}

.popup-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  gap:20px;
}

.radio-button-group{
    display:flex;
    gap:10px;
}

.select-header {
  display: flex;
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.select-option {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 0 5px;
}

mat-option:hover {
  background-color: #f1f1f1;
}

.boton-agregar {
  background-color: #7da2d6;
  color: #fff;
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  border: 2px solid #ffff;
}
